<!-- name: namneet
id: 301279374
10/1/2023
about.ejs -->


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
</head>
<body>
	<!--navigation bar-->
    <section>
	<nav>
        <div id="logo">
          <a href="/" target="_blank">
              <img src="/images/logo.png" class="logo">
          </a>
      </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            
            
          </ul>
      </nav>
    </section>

  <!--About Me-->
  	<section class="site">
  		<div class="row">
  			<div class="column">
    			<img src="/images/myPic.jpeg">
  			</div>
  		<div class="col">
    		<p>As a coder, my insatiable thirst for learning and my passion for problem-solving drive me forward. With a deep understanding of various programming languages and tools, I excel in tackling complex challenges with both creativity and precision. My optimal working environment thrives on collaboration, where I leverage my strong communication skills to foster teamwork and achieve exceptional results. My commitment to self-improvement is unwavering. I continuously stay abreast of the latest industry trends and tools, consistently expanding my skill set. This proactive approach enables me to remain at the forefront of the ever-evolving realm of programming.</p>

            <p>Currently, I am a dedicated student at Centennial College pursuing a diploma in Software Engineering. My portfolio showcases a range of modest yet impactful projects, which you can explore on the projects page.</p>

            <p>Every line of code I craft embodies cleanliness, efficiency, and optimization. My meticulous attention to detail is reflected in my work, as I relentlessly pursue excellence. When approaching projects, I adopt a strategic mindset, breaking down intricate tasks into manageable steps to create robust solutions that are both effective and scalable. My adaptability and commitment to continuous learning make me a valuable asset in any computing environment. I am always eager to embrace new challenges and tools, further enhancing my ability to contribute meaningfully to the world of technology.</p>

            <div class="button-container">
                <a class="resume-button" href="/images/NamneetKaur_Resume.pdf" target="_blank">View My Resume</a>
            </div>
  		</div>
	</div>
  </section>


  <section>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>Namneet Kaur</h3>
            <p class="footer-links">
              <a href="/">Home</a>
              |
              <a href="/about">About Me</a>
              |
              <a href="/service">Services</a>
              |
              <a href="/contact">Contact</a>
            </p>
            <p class="footer-company-name">©Namneet kaur.</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>19 overskate court, Etobicoke</span>
                Ontario, Canada</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>1(647)834-5203</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:namneettung123@gmail.com">namneettung123@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About Me</span>
                I'm a student and I help building small projects. 
            </p>
            <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook">FB</i></a>
          <a href="#"><i class="fa fa-twitter"></i>Tw</a>
          <a href="#"><i class="fa fa-instagram">IG</i></a>
          <a href="#"><i class="fa fa-linkedin">LIn</i></a>
          <a href="#"><i class="fa fa-youtube">YO</i></a>
        </div>
    </div>
</footer>
</section>

</body>
</html>