<!-- name: namneet
id: 301279374
10/1/2023
service.ejs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Services</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/service.css">
</head>
<body class="container">

    <!--navigation bar-->
    <section>
        <nav>
            <div id="logo">
              <a href="/" target="_blank">
                  <img src="/images/logo.png" class="logo">
              </a>
          </div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="/service">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                
                
              </ul>
          </nav>
        </section>
        
    <!--listing section-->
    <section class="lists">
        <div class="listing">
            <div class="service">
                <img src="/images/service1.png">
                <h2>Frontend Development</h2>
                <p>HTML5, CSS3 , JS, JQuery, Express.js, Node.js</p>
            </div>

            <div class="service">
                <img src="/images/service2.jpg">
                <h2>Backend development</h2>
                 <p>C#, python, C++, Java</p>
              
            </div>
            <div class="service">
                <img src="/images/service3.jpg">
                <h2>Database development</h2>
                <p>SQL, MongoDB</p>
                
                
            </div>
            <div class="service">
                <img src="/images/service4.png">
                <h2>General programming</h2>
                <p>C, C++, C#, python, java, JS</p>
               
                
            </div>

        </div>
          
    </section>

    <!--footer-->
    <section>
        <footer class="footer-distributed">
            <div class="footer-left">
                <h3>Namneet Kaur</h3>
                <p class="footer-links">
                  <a href="/">Home</a>
                  |
                  <a href="/about">About Me</a>
                  |
                  <a href="/service">Services</a>
                  |
                  <a href="/contact">Contact</a>
                </p>
                <p class="footer-company-name">©Namneet kaur.</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>19 overskate court, Etobicoke</span>
                    Ontario, Canada</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>1(647)834-5203</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:namneettung123@gmail.com">namneettung123@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About Me</span>
                    I'm a student and I help building small projects. 
                </p>
                <div class="footer-icons">
              <a href="#"><i class="fa fa-facebook">FB</i></a>
              <a href="#"><i class="fa fa-twitter"></i>Tw</a>
              <a href="#"><i class="fa fa-instagram">IG</i></a>
              <a href="#"><i class="fa fa-linkedin">LIn</i></a>
              <a href="#"><i class="fa fa-youtube">YO</i></a>
            </div>
        </div>
    </footer>
    </section>
        
                
</body>
</html>